<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/weatherIcon.png">
    <link rel="stylesheet", href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This was site created by me Stephen Jackson it uses data from mapbox.com and darksky.net</p>
        <p>This is about me</p>
        <img class="portrait" src="./images/headshot.jpg">
    </div>
   
    {{>footer}}
</body>
</html>